body {
    padding-top: 50px; 
    background-size: cover;
    background-attachment: fixed;
}


.container {
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.overlay {
    background-color: rgb(246, 249, 240);
    padding: 70px 400px ;
    border-radius: 15px;
    align-self: center;
    align-content: center;
    align-items: center;
    
}
.navb{
    font-family: 'Dancing Script';
    font-size: 20px;

}

h1 {
    text-align: center;

}
.container-title {
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.overlay-title {
    background-color: rgba(19, 40, 120, 0.99);
    padding: 60px 540px ; 
    align-self: center;
    align-content: center;
    align-items: center;
    
}

.decorative-title {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
  }

.overlay-quote {
    background-color: rgba(19, 40, 120);
    padding: 60px 245px ; 
    align-self: center;
    align-content: center;
    align-items: center;
    
}

.decorative-quote {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
  }
  
.decorative-title::before, .decorative-title::after {
content: "";
position: absolute;
width: 130px;
height: 2px;
background-color: rgba(255, 255, 255, 0.9);
top: 50%;
transform: translateY(-50%);
}

.decorative-title::before {
left: -170px; 
}

.decorative-title::after {
right: -170px;
}

.content-text {
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 100%; 
}
.content-box {
    background-color:rgba(19, 40, 120, 0.99);
    padding: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Lora', cursive;
    font-size: 18px;
    color:aliceblue;
    justify-content: center;
    flex: 1; 
    text-align: center;
}

.highlight {
    border-bottom: 4px solid rgba(19, 40, 120, 0.99); 
    padding-bottom: 5px; 
    color: rgba(19, 40, 120, 0.99);
    font-size: 60px; 
    font-weight: semi-bold; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate {
    animation: fadeIn 1.5s ease-in-out;
}