body {
    background-size: cover;
    background-attachment: fixed;

}

.split-container {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: 1px; 
    width: 80%; 
    height: 80vh; 
}

.overlay_info {
    background-color: rgb(246, 249, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
    width: 40%;

}

img{
    align-self: center;
}

.overlay_message {
    background-color: rgba(19, 40, 120, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px; 
    width: 60%; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate {
    animation: fadeIn 1.5s ease-in-out;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}



.navb{
    font-family: 'Dancing Script';
    font-size: 20px;

}