body {
    background-size: cover;
    background-attachment: fixed;

}

.split-container {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: 1px; 
    width: 80%; 
    height: 80vh; 
}

.overlay_info {
    background-color: rgb(246, 249, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
    width: 40%;

}

img{
    align-self: center;
}

.overlay_message {
    background-color: rgba(35, 59, 159, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px; 
    width: 60%; 
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}



.navb{
    font-family: 'Dancing Script';
    font-size: 20px;

}